/**
* Color Definitions
*/

$theme-primary: #387ef2;
$theme-primary-dark: #3344d9;

$bright-green: #4CAF50;
$dark-green: #3e8342;

$purple-social: #6351ce;
$purple-social-dark: #6b00b3;

$main-background: #edf1f5;
$light-dark-background: #1d2327;
$black-background: #171C1F;

$white-text: #ffffff;
$grey-text: #1d2327;

$shadow-color: #3333;
$shadow-color-hover: #00000033;

$not-imp: #9e9fad;

$cancel: red;

//Comments
$cancel-reply-color: $cancel;

//Colors List
$white: #ffffff;
$white-vista: #fef8f2;
$orange-amazon: #FF9900;
$green-emerald: #50C878;
$green-shamrock: #009E60;
$blue-bright: #0096FF;
$violet-blue: #6351ce;
$violet-blue-dark: #6b00b3;
$grey-silver: #C0C0C0;
$grey-light: #D3D3D3;
$grey-dark: #5A5A5A;
$black-dark-jungle: #171C1F;


/****** Novel ******/

$novel-section-bg: $white;
$novel-tax-info: $blue-bright;

//Format Button
$format-button-bg: $white;
$format-button-bg-hover: $grey-light;
$format-button-border: $grey-dark;
$selected-format-bg: $white-vista;
$selected-format-border: $orange-amazon;

/****** Novel Archive ******/
$filters-background-color: $violet-blue;

/****** Buttons ******/
$edit-button-color: $violet-blue;
$edit-button-hover-color: $violet-blue-dark;

/****** Pagination ******/
$pagination-text-col: $white;
$pagination-button-background: $theme-primary;
$pagination-button-hover-background: $theme-primary-dark;

/****** 404 Error ******/
$error-background: $white;
$error-main-color: $theme-primary;
$error-text-color: $black-dark-jungle;
$error-back-button-background: $theme-primary;
$error-back-button-hover-background: $theme-primary-dark;

/****** Post ******/

$category-button-col: $green-emerald;
$category-button-hover-col: $green-shamrock;
$post-meta-col: $grey-silver;

$post-list-title-col: $black;
$post-list-background-col: $white;
$post-list-shadow-col: $shadow-color;
$post-list-shadow-hover-col: $shadow-color-hover;

$review-section-background: $white;
$review-title-col: $white;
$review-title-background: $light-dark-background;
$review-border-col: $grey-silver;
$review-submit-button-col: $white;
$review-submit-button-background-col: $white;

/****** Footer ******/

$footer-text-col: $white;
$footer-link-hover-color: $theme-primary;
$footer-background: $black-dark-jungle;
$footer-social-background: $violet-blue;
$footer-copyright-background: $black-dark-jungle;