/**
* Color Definitions
*/

$theme-primary: #387ef2;
$theme-primary-dark: #3344d9;

$not-imp: #9e9fad;

$bright-green: #4CAF50;
$dark-green: #3e8342;

$purple-social: #6351ce;
$purple-social-dark: #6b00b3;

$main-background: #edf1f5;
$light-dark-background: #1d2327;
$black-background: #171C1F;

$white-text: #ffffff;
$grey-text: #1d2327;

$shadow-color: #3333;
$shadow-color-hover: #00000033;

$cancel: red;

//Comments
$comment-title-background: $light-dark-background;
$cancel-reply-color: $cancel;

//Colors List
$white: #ffffff;
$white-vista: #fef8f2;
$orange-amazon: #FF9900;
$blue-bright: #0096FF;
$grey-light: #D3D3D3;
$grey-dark: #5A5A5A;


/****** Novel ******/

$novel-section-bg: $white;
$novel-tax-info: $blue-bright;

//Format Button
$format-button-bg: $white;
$format-button-bg-hover: $grey-light;
$format-button-border: $grey-dark;
$selected-format-bg: $white-vista;
$selected-format-border: $orange-amazon;
