
$border-radius: 3px;

$mq-breakpoints: (
	x-small: 0px,
	small: 576px,
	medium: 768px,
	large: 992px,
	xlarge: 1200px,
	xxlarge: 1400px,
) !default;

$site_width: 1140px;
$wide_width: 1240px;
$padding-left: 15px;
$padding-right: 15px;

$margin-top: 80px;
$margin-bottom: 60px;

$logo-width: 96px;
$logo-height: 60px;
