
//Imports
@import "dashboard-theme";

//Textarea
textarea{
    overflow-y: hidden;
    resize: none;
}

textarea, #seo_meta_title{
    width: 100%;
}

//Post Type Input Enhancements
.inside{

    .categorychecklist{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    }

    #set-post-thumbnail{
        display: flex;
        justify-content: center;
    }
}