# Auto detect text files and perform LF normalization
* text=auto

*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true

*.json linguist-generated=false
*.json linguist-documentation=false
*.json linguist-detectable=true
package-lock* linguist-vendored
