# Auto detect text files and perform LF normalization
* text=auto

*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true

package.json linguist-detectable
*.json linguist-detectable=true
*.css linguist-detectable=true