
/*#adminmenu, #adminmenuback, #adminmenuwrap, #wpadminbar, #adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu {
    background: #262c31; //Background left
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
    background: #4180e0; //Blue
}

.wp-not-current-submenu:hover{
    background: #4180e0; //Blue
}

a {
    color: #4180e0; //Blue
}

.wp-menu-name{
    color: white;
}

.wp-menu-name:hover{
    color: white;
}

.postbox {
    background: #FFFFFF; //White
}

#wpwrap {
    background: #f7f9fc; //Background
} /*