
//Imports
@import "../essentials";
@import "../archive-post/archive-post.scss";

//Novels Listing Sections Common CSS
.novels-list-section{
    background: $novel-section-bg;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 16px;

    h2{
        margin: 8px;
    }

    .novel-list {

        @include respond-to( x-small ){
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        @include respond-to( medium ) {
            flex-wrap: wrap;
            overflow: auto;
        }
    }
}

//Novel Information Section
#info-section {
    margin-bottom: 16px;

    .novel-row {

        .novel-info-left {
            background: $novel-section-bg;
            border-radius: 8px;
            padding: 8px 12px 0px 12px;
            
            @include respond-to( x-small ) {
                margin-right: 0px;
                margin-bottom: 16px;
            }

            @include respond-to( medium) {
                margin-right: 16px;
                margin-bottom: 0px;
            }

            .novel-cover{
                border-radius: 8px;
                margin-bottom: 8px;
            }

            table{
                margin: 8px;

                td{
                    color: $blue-bright;
                    text-decoration: none;
                }
            }
        }

        .novel-info-right {
            background: $novel-section-bg;
            border-radius: 8px;

            #format_info_value{
                list-style: none;
                padding-left: 0;
                margin: 24px 0px;

                .format-button{
                    font-size: 16px;
                    margin: 8px;
                    padding: 8px;
                    background-color: $format-button-bg;
                    border: 1px solid $format-button-border;
                    border-radius: 4px;

                    &:hover, &:active{
                        background-color: $format-button-bg-hover;
                    }
                }

                .selected-format {
                    background-color: $selected-format-bg !important;
                    border-color: $selected-format-border !important;
                }
            }

            .genre-button,
            .format-button,
            .post-tag-button {
                padding: 4px 8px;
                font-size: 12px;
                background-color: $theme-primary;

                &:hover, 
                &:active {
                    background-color: $theme-primary-dark;
                }
            }
        }
    }
}

//Reviews Section
#reviews-section {
    background: #ffffff;

    .review-title {
        color: $white-text;
        background-color: $comment-title-background;
        text-align: center;
    }

    #reviews-form{

        #review-submit{
                background-color: #3EB2FD;
                background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
                background-size: calc(100% + 20px) calc(100% + 20px);
                border: none;
                border-radius: 100px;
                color: $white-text;
        }
    }

    #review-filter{
        border: 1px solid #e2eded;
    }

    #reviews-filter-header{
        border-bottom: 2px dotted $not-imp;
    }

    #reviews-list{

        .review-entry{
            border-bottom: 2px dotted $not-imp;

            .review-header{

                .user_avatar {
                    max-width: 75px;
                    max-height: 75px;
                }
            }
        }
    }
}