
@import "../main.scss";
@import "../layouts/post-components";
@import "../layouts/post-list";
@import "../layouts/review";
@import "../layouts/novel-item";
@import "../layouts/infiniteLoading.scss";

.novels-list-section{
    background: $novel-section-bg;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 16px;

    h2{
        margin: 8px;
    }

    .novel-list {

        @include respond-to( x-small ){
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        @include respond-to( medium ) {
            flex-wrap: wrap;
            overflow: auto;
        }
    }
}

#info-section {
    margin-bottom: 16px;

    .novel-row {

        .novel-info-left {
            background: $novel-section-bg;
            border-radius: 8px;
            padding: 8px 12px 0px 12px;
            
            @include respond-to( x-small ) {
                margin-right: 0px;
                margin-bottom: 8px;
            }

            @include respond-to( medium) {
                margin-right: 8px;
                margin-bottom: 0px;
            }

            .novel-cover{
                border-radius: 8px;
                margin-bottom: 8px;
            }

            table{

                td{
                    color: $blue-bright;
                    text-decoration: none;
                }
            }
        }

        .novel-info-right {
            background: $novel-section-bg;
            border-radius: 8px;

            #novel-actions {
                display: flex;
                justify-content: start;
                align-items: center;
                padding: 8px 0;

                #ratings-div {
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    h6 {
                        color: $rating-submit-msg;
                        margin: 0 0 0 8px;
                    }
                }
            }

            #formats-list{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 0;
                margin: 18px 0px;

                .format-button{
                    font-size: 14px;
                    margin: 8px;
                    padding: 8px;
                    background-color: $format-button-bg;
                    border: 1px solid $format-button-border;
                    border-radius: 4px;

                    &:hover, &:active{
                        background-color: $format-button-bg-hover;
                    }
                }

                .selected-format {
                    background-color: $selected-format-bg !important;
                    border-color: $selected-format-border !important;
                }
            }

            .genre-button,
            .format-button,
            .tags-button {
                padding: 4px 8px;
                font-size: 12px;
                background-color: $default-button-background;

                &:hover, 
                &:active {
                    background-color: $default-button-background-hover;
                }
            }

            .genre-button,
            .tags-button {
                color: $taxonomy-button-color;
            }
        }
    }
}