
@import "../main.scss";
@import "../layouts/post-components";
@import "../layouts/post-list";
@import "../layouts/review";
@import "../layouts/novel-item";
@import "../layouts/infiniteLoading.scss";

.novels-list-section{
    background: $novel-section-bg;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 16px;

    h2{
        margin: 8px;
    }

    .novel-list {

        @include respond-to( x-small ) {
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        @include respond-to( medium ) {
            flex-wrap: wrap;
            overflow: auto;
        }
    }
}

#info-section {
    display: relative;
    margin-bottom: 16px;

    .novel-row {

        .novel-info-left {
            background: $novel-section-bg;
            border-radius: 8px;
            padding: 8px 12px 0px 12px;
            
            @include respond-to( x-small ) {
                margin-right: 0px;
                margin-bottom: 8px;
            }

            @include respond-to( medium) {
                margin-right: 8px;
                margin-bottom: 0px;
            }

            .novel-cover{
                border-radius: 8px;
                margin-bottom: 8px;
            }

            table{

                td{
                    color: $blue-bright;
                    text-decoration: none;
                }
            }
        }

        .novel-info-right {
            background: $novel-section-bg;
            border-radius: 8px;

            #novel-actions {
                @include disable-user-select;
                margin-top: 8px;

                #actions-main {
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    >*{
                        margin-right: 8px;
                    }

                    #novel-ratings-div,
                    #novel-popularity-div {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        
                        h3 {
                            margin: 0 0 0 4px;
                        }
                    }

                    #end-div {
                        margin-left: auto;

                        >*{
                            margin-left: 12px;
                        }
                    }
                }

                #reading-list-action {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $reading-list_popup-bg;
                    padding: 16px;
                    border-radius: 12px;
                    z-index: 1;

                    #cancel-reading-list {
                        display: flex;
                        justify-content: end;
                        margin: 0;
                        padding: 0;
                    }

                    div {
                        display: flex;
                        justify-content: space-between;

                        label {
                            color: $reading-list_popup-color;
                            font-weight: 600;
                        }

                        >*{
                            padding: 4px;
                            border-radius: 4px;
                        }
                    }

                    #update-reading-list {
                        color: $reading-list-update-btn-color;
                        background-color: $reading-list-update-btn-bg;
                    }
            
                    >*{
                        margin: 8px 0;
                        padding: 4px;
                    }
                }

                h5 {
                    color: $novel-actions-msg-color;
                }

                >*{
                    margin: 8px 0;
                }
            }

            #volume-desc {

                div {
                    margin-bottom: 18px;
                }
            }

            #formats-list {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 0;

                .format-button {
                    font-size: 14px;
                    border-radius: 4px;
                    color: $format-button-color;
                    background-color: $format-button-bg;
                    border: 1px solid $format-button-border;

                    &:hover, &:active{
                        background-color: $format-button-bg-hover;
                    }
                }

                .selected-format {
                    background-color: $selected-format-bg !important;
                    border-color: $selected-format-border !important;
                }
            }

            .genre-button,
            .format-button,
            .tags-button {
                padding: 4px 8px;
                font-size: 12px;
                background-color: $default-button-background;

                &:hover, 
                &:active {
                    background-color: $default-button-background-hover;
                }
            }

            .genre-button,
            .tags-button {
                color: $taxonomy-button-color;
            }
        }
    }
}