
//Category Button
.category-button {
    padding: 4px 8px;
    font-size: 12px;
    background-color: $bright-green;

    &:hover, 
    &:active {
        background-color: $dark-green;
    }
}

//Genre Button
.genre-button,
.post-tag-button,
.format-button {
    padding: 4px 8px;
    font-size: 12px;
    background-color: $theme-primary;

    &:hover, 
    &:active {
        background-color: $theme-primary-dark;
    }
}

//Series Button
.series-button {
    padding: 4px 8px;
    font-size: 12px;
    background-color: $theme-primary;

    &:hover, 
    &:active {
        background-color: $theme-primary-dark;
    }
}

//Pagination Mixin
.pagination-button {
    padding: 8px 8px;
    color: $white-text;
    font-size: 16px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

//Post Page Navigation Button
.page-links {

    .post-page-numbers {
        button{
            background-color: $theme-primary;

            &:active,
            &:hover {
                background-color: $theme-primary-dark;
            }
        }
    }

    .current {
        button {
            background-color: $theme-primary-dark;
        }
    }
}

//Blog Pagination
.blog-links {

    .blog-page-no,
    .blog-page-prev,
    .blog-page-next {
        background-color: $theme-primary;

        &:active,
        &:hover {
            background-color: $theme-primary-dark;
        }
    }

    .current{
        .blog-page-no{
            background-color: $theme-primary-dark;
        }
    }
}

//Edit Button
.edit-button {
    padding: 4px 8px;
    font-size: 12px;
    background-color: $purple-social;

    &:active,
    &:hover {
        background-color: $purple-social-dark;
    }
}
