body {
	margin: 0;
	@include body-text( body );

	background: $main-background;
	word-wrap: break-word;
}

main {
    background-color: $main-background;
    padding: 8px 12px 8px 12px;
	min-height: 60vh;
}

img {
	height: auto;
	display: block;
	width: 100%;
}

button { //Button Element
	margin: 4px 4px 4px 4px;
    border-radius: 8px;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	a{
		color: white;
		text-decoration: none !important;
		&:hover,&:active {
			color: white;
		}
	}
}

textarea{
    overflow-y: hidden;
    resize: none;
	width: 100%;
	border-radius: 12px;
    padding: 8px;
}

//Table
table{
	border-collapse: separate;
}

table td, table td *, table th, table th * {
    vertical-align: top;
}


//Topography

h1 {
	@include body-text( h1 )
}

h2 {
	@include body-text( h2 )
}

h3 {
	@include body-text( h3 )
}

h4 {
	@include body-text( h4 )
}

h5 {
	@include body-text( h5 )
}

h6 {
	@include body-text( h6 )
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px 0px 12px 0px;
	text-rendering: optimizelegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
em,
strong,
small,
abbr,
del,
ins,
sup,
sub,
time {
  cursor: default;
}