
@import "../main.scss";
@import "../layouts/post-components.scss";
@import "../layouts/post-list.scss";
@import "../layouts/Search.scss";
@import "../layouts/resultsNotFound.scss";
@import "../layouts/archiveFilter.scss";
@import "../layouts/infiniteLoading.scss";

#blog-wrap {
    @include disable-user-select;
    
    #post-wrap-header {
        display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
    }

    .post-list {
        margin-top: 16px;
    }
}
