
@import "../main.scss";
@import "../layouts/Search.scss";
@import "../layouts/resultsNotFound.scss";
@import "../layouts/archiveFilter.scss";
@import "../layouts/novel-item.scss";
@import "../layouts/infiniteLoading.scss";

#archive-wrap {

    #archive-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .archive-list {
        margin-top: 16px;
    }
}