
//Title
.page-title {
    color: $white-text;
    background-color: $light-dark-background;
    text-align: center;
}

//Sidebar
.sidebar-wrap {
    margin-right: 12px;
}

//Content Wrap
.content-wrap {
    padding: 16px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 8px;
    flex-shrink: 1;
    background-color: $white-text;
}

//Sidebar Wrap
.sidebar-wrap {
    padding: 16px;
    border-radius: 8px;
    background-color: $white-text;
    min-height: 60vh;
}

//Site Content
.site-content {
    margin-top: $margin-top; //Empty Margin for the sticky header
}