
//Navigation Common

.nav-item:hover .dropdown-menu:not(.show) {
	display: block;
}

.custom-logo-link {
	img {
		max-width: 112px;
		max-height: 70px;
	}
}

//Header Navigation

.header-nav {
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 1;

	.profile-pic{
		border-radius: 50%;

		@include respond-to( x-small ) {
			max-width: 100px;
			max-height: 100px;
		}

		@include respond-to( large ) {
			max-width: 50px;
			max-height: 50px;
		}
		
	}	
	
	.nav-link {
		font-weight: 500;
		color: $grey-text !important;

		&:hover, 
		&:active {
			
			color: $theme-primary !important;
		}
	}

	.main-search{
		width: 100%;
	}
}

//Footer Navigation
.footer-nav {

    background-color: $light-dark-background;
	cursor: default;

	a {
		color: inherit;
		text-decoration: none;
	}

	.footer-social {
		background-color: $purple-social;
	}

	.main-footer {

		.nav-link{
			font-weight: 400;
			color: $white-text;

			&:hover, 
			&:active {
				color: $theme-primary;
			}
		}

		.footer-separator {
			width: 60px;
			background-color: $theme-primary;
			height: 2px;
		}
	}

	

	.footer-copyright {
		background-color: $black-background;
	}
}