
//Navigation Common

.nav-item:hover .dropdown-menu:not(.show) {
	display: block;
}

//Header Navigation

.header-nav {
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 1;

	.profile-pic{
		border-radius: 50%;

		@include respond-to( x-small ) {
			max-width: 100px;
			max-height: 100px;
		}

		@include respond-to( large ) {
			max-width: 50px;
			max-height: 50px;
		}
		
	}	
	
	.nav-link {
		font-weight: 500;
		color: $grey-text !important;

		&:hover, 
		&:active {
			
			color: $theme-primary !important;
		}
	}

	.main-search{
		width: 100%;
	}
}