
//Novel Common
.novel-title {
    a{
        color: $black-background;
        text-decoration: none;
    }
}

//Novel Cover
.novel-cover {
    aspect-ratio: 4.1 / 5.8;
}

.selected_format {
    background-color: #fef8f2 !important;
    border-color: #FF9900 !important;
}

//Archive
.archive-entry-col{
    padding: 0px;

    .archive-entry {
        padding: 0px;
        margin: 4px 8px;
        border-radius: 8px;
        position: relative;
        box-shadow: 0 2px 5px $shadow-color;
        top: 0;
        transition: all .1s ease-in;
        overflow: hidden;

        &:hover, 
        &:active {
            top: -2px;
            box-shadow: 0 4px 5px $shadow-color-hover;
        }
    }
}

.info-section {
    margin-bottom: 16px;

    .novel-row {
        margin: 0px;

        .novel-cover-div {
            background: white;
            border-radius: 8px;
            padding: 8px 12px 0px 12px;
            
            @include respond-to( x-small ) {
                margin-right: 0px;
                margin-bottom: 16px;
            }

            @include respond-to( medium) {
                margin-right: 16px;
                margin-bottom: 0px;
            }

            .novel-cover{
                border-radius: 8px;
                margin-bottom: 8px;
            }

            table{
                margin: 8px;

                td{
                    color: $theme-primary;
                    text-decoration: none;
                }
            }
        }

        .novel-info {
            background: white;
            border-radius: 8px;

            #format_info_value{
                list-style: none;
                padding-left: 0;
                margin: 24px 0px;

                button{
                    font-size: 16px;
                    margin: 8px;
                    padding: 8px;
                    background-color: white;
                    border: 1px solid $not-imp;
                    border-radius: 4px;

                    &:hover, &:active{
                        background-color: lightgray;
                    }
                }

            }
        }
    }
}



.volumes-section {
    background: $white-text;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 16px;

    h2{
        margin: 8px;
    }

    .volume-list {
        margin: 0px;

        @include respond-to( x-small ){
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        @include respond-to( medium ) {
            flex-wrap: wrap;
            overflow: auto;
        }
    }
}

.child-section {
    background: $white-text;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 16px;

    h2{
        margin: 8px;
    }

    .child-list {
        margin: 0px;

        @include respond-to( x-small ){
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        @include respond-to( medium ) {
            flex-wrap: wrap;
            overflow: auto;
        }
    }
}

.related-section {
    background: $white-text;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 16px;

    h2{
        margin: 8px;
    }

    .related-list {
        margin: 0px;

        @include respond-to( x-small ){
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        @include respond-to( medium ) {
            flex-wrap: wrap;
            overflow: auto;
        }
    }
}

