/**
* Color Definitions
*/

$theme-primary: #387ef2;

$theme-primary-dark: #3344d9;
$purple-social: #6351ce;

$main-background: #edf1f5;
$light-dark-background: #1d2327;
$black-background: #171C1F;

$white-text: #ffffff;

$shadow-color: #3333;
