
@import "../main.scss";
@import "../layouts/post-components";
@import "../layouts/post-list";
@import "../layouts/review";

.post-wrap {

    #post-header {
        display: flex;
        justify-content: space-between;

        .series-button {
            padding: 4px 8px;
            font-size: 12px;
            background-color: $theme-primary;
    
            &:hover, 
            &:active {
                background-color: $theme-primary-dark;
            }
        }
    }

    .page-numbers {
        text-decoration: none;
    }

    #post-footer {
        display: flex;
        justify-content: space-between;
    }
}