
@import "../main.scss";
@import "../layouts/pagination.scss";

#archive-wrap {

    #archive-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;

        #nsearch{
            border-radius: 8px;
            padding: 4px;
            outline: none;
        }
    }

    #archive-filter {
        background-color: $filters-background-color;
        border-radius: 16px;
        display: flex;
        flex-direction: column;    
        padding: 16px;

        #sort_by{
            display: flex;
            justify-content: start;
        
            > * {
                margin-right: 16px;
            }
        }
    }

    .archive-list {
        margin-top: 16px;

        #results-not-found {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            > * {
                margin-bottom: 16px;
            }
        }
    }
}