
@import "../main.scss";
@import "../layouts/pagination.scss";
@import "../layouts/novelSearch.scss";
@import "../layouts/resultsNotFound.scss";

#archive-wrap {

    #archive-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    #archive-filter {
        background-color: $filters-background-color;
        border-radius: 16px;
        display: flex;
        flex-direction: column;    
        padding: 16px;

        #sort_by{
            display: flex;
            justify-content: start;
        
            > * {
                margin-right: 16px;
            }
        }
    }

    .archive-list {
        margin-top: 16px;
    }
}