
#archive-filter {
    background-color: $filters-background-color;
    border-radius: 16px;
    display: flex;
    flex-direction: column;    
    padding: 16px;

    #filter_footer {
        display: flex;
        justify-content: space-between;

        #sort_by{
            display: flex;
            justify-content: start;
        
            > * {
                margin-right: 16px;
            }
        }

        #filter_actions {
            #clear {
                color: $clear-button-color;
                background-color: $clear-button-bg;
                padding: 4px 8px;
            }
        }
    }
}
