
/*
* Notes: This file is imported in main.scss
*/

.custom-logo-link {
	img {
		max-width: $logo-width;
		max-height: $logo-height;
	}
}

header{
  .header-nav {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: $header-background-col;
    color: $header-text-col;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;

    #profile-menu{
      display: flex;
      justify-content: center;
      
      @include respond-to( x-small ) {
        margin-bottom: 16px;
      }
  
      @include respond-to( large ) {
        margin: 0px;
      }
      
      .profile-pic{
        border-radius: 50%;
    
        @include respond-to( x-small ) {
          max-width: 100px;
          max-height: 100px;
        }
    
        @include respond-to( large ) {
          max-width: 50px;
          max-height: 50px;
        }
      }
    }

    #main-search {
      display: flex;
      justify-content: center;

      #main-search-form {
        display: flex;
        justify-content: center;
        overflow: hidden;
        border: $main-search-border 2px solid;
        border-radius: 8px;
        padding: 0;

        #main-search-input,
        #type-select {
          border: none;
          border-radius: 0;
          padding: 4px;
        }

        #main-search-input {
          max-width: 175px;
        }

        #type-select {
          background-color: $main-search-type-background;
          color:  $main-search-type-color;
        }
      }
    }

    .navbar-nav{
      .nav-item {
        .nav-link {
          font-weight: 500;
      
          &:hover, 
          &:active {
            color: $header-text-hover-color;
          }
        }
      }
    }

    #login-button {
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      color: #FFFFFF;
      padding: 8px 16px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
    }
  }
}

footer {
    .footer-nav {
      background-color: $light-dark-background;
      color: $footer-text-col;
      cursor: default;
      text-align: center;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -khtml-user-select: none;
  
      .footer-social {
        background-color: $footer-social-background;
        padding: 16px;
  
        #social-icons-div {
          display: flex;
          justify-content: center;
          align-items: center;

          .social-icon {
            margin: 0 16px;
          }
        }
      }
  
      .main-footer {
        margin-top: 16px;
  
        .footer-separator {
          height: 2px;
          margin: auto;
          width: 60px;
        }
  
        .menu-nav {
          margin-top: 16px;
  
          .email {
            display: inline;
          }
  
          ul {
            list-style-type: none;
            padding: 0;
  
            li {
              .nav-link {
                font-weight: 400;
                padding: 8px 0;
  
                &:active,
                &:hover {
                  color: $footer-link-hover-color;
                }
              }
            }
          }
        }
      }
  
      .footer-copyright {
        background-color: $footer-copyright-background;
        padding: 8px;
      }
  
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
  