
.archive-entry-col{
    padding: 0px;

    .archive-entry {
        padding: 0px;
        margin: 4px 8px;
        border-radius: 8px;
        position: relative;
        box-shadow: 0 2px 5px $shadow-color;
        top: 0;
        transition: all .1s ease-in;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $novel-item-background-color;
        color: $novel-item-color;

        &:hover, 
        &:active {
            top: -2px;
            box-shadow: 0 4px 5px $shadow-color-hover;
        }

        .novel-link {
            .novel-cover {
                aspect-ratio: 10.5/14.8;
            }
        }
    }
}

.filter-wrap{
    background-color: #ffffff;
}

