
/*
* Notes: This file is imported in post.scss, novel.scss and archive-post.scss
*/

.category-button {
    background-color: $category-button-col;
    font-size: 12px;
    padding: 4px 8px;

    &:active, 
    &:hover {
        background-color: $category-button-hover-col;
    }
}

.posted-on, .posted-by {
    color: $post-meta-col;
}