
//Category Button
.category-button {
    padding: 4px 8px;
    font-size: 12px;
    background-color: $bright-green;

    &:hover, 
    &:active {
        background-color: $dark-green;
    }
}

//Date and Author Meta
.posted-on, .posted-by {
    color: $not-imp;
}