
.post-entry-col {
  padding: 8px;

  .post-entry {
    background-color: $post-list-background-col;
    border-radius: 12px;
    box-shadow: 0 2px 5px $post-list-shadow-col;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
    height: 100%;

    &:hover,
    &:active {
      box-shadow: 0 4px 5px $post-list-shadow-hover-col;
      top: -2px;
    }

    .post-link {
      display: block;
      overflow: hidden;
      height: 250px;
      background-color: $theme-primary;
      display: flex;
      justify-content: center;
      align-items: center;

      .post-img {
        padding: 0;
        height: 100%;
        width: 100%;
      }

      .post-img-error{
        color: white;
        text-decoration: none;
      }
    }

    .post-entry-info {
      padding: 8px;

      a {
        text-decoration: none;
        
        .entry-title {
          margin-bottom: 0;
          color: $post-list-title-col;
        }
      }
    } 
  }
}
 