
#search-form {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    #search {
        border-radius: 0;
        padding: 4px;
    }

    #search-button {
        background-color: $search-background;
        border-radius: 0;
        margin: 0;
    }
}

