
@import "../main.scss";
@import "../layouts/novelSearch.scss";
@import "../layouts/resultsNotFound.scss";

.calender-wrap{

    #upcoming-releases-wrap{

        #upcoming-releases-header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
        }
    }
}